# LLM Configuration
# Choose one or both
ANTHROPIC_API_KEY=your_anthropic_key_here
GOOGLE_API_KEY=your_google_key_here

# Project Settings
MODEL_PROVIDER=google # or anthropic
DEFAULT_MODEL=gemini-1.5-flash # or claude-3-5-sonnet-20240620
